<div class="addProject" *ngIf="projectData">
  <h2>პროექტის რედაქტირება</h2>
  <div class="steps">
    <ul class="tabs">
      <li [class]="stepIndex == i ? 'tab active' : 'tab'" *ngFor="let tab of steps; let i = index" (click)="stepIndex = i" >
        <div class="checker"></div>
        <span>{{tab.title}}</span>
      </li>
    </ul>
    <ul class="projectlangs" *ngIf="stepIndex != 4 && stepIndex != 5">
      <li [class]="projectLang=='ka' ? 'active' : ''" (click)="projectLang='ka'">ka</li>
      <li [class]="projectLang=='en' ? 'active' : ''" (click)="projectLang='en'">en</li>
      <!-- <li [class]="projectLang=='ru' ? 'active' : ''" (click)="projectLang='ru'">ru</li> -->
    </ul>
    <div class="step" *ngIf="stepIndex == 0">
      <form class="about">
        <div class="info">
          <div class="fgroup">
            <div class="row">
              <label>{{projectData.translations.title}}</label>
              <span class="infoResp"><img src="assets/info.png" alt="">
                  <p class="info__text" >
                    {{warningInfo.title_info}}
                  </p>
              </span>
              <div class="inputwrapper">
                <input type="text" [(ngModel)]="firstStep[projectLang].title" name="title">
                <span class="info"><img src="assets/info.png" alt="">
                  <p class="info__text" >
                    {{warningInfo.title_info}}
                  </p>
                </span>
              </div>
            </div>
            <div class="row">
              <label>{{projectData.translations.minDescription}}</label>
              <span class="infoResp"><img src="assets/info.png" alt="">
                <p class="info__text" > {{warningInfo.description_info}}</p>
              </span>
              <div class="inputwrapper">
                <input type="text" [(ngModel)]="firstStep[projectLang].min_description" name="smalldesc">
                <span class="info"><img src="assets/info.png" alt="">
                    <p class="info__text" > {{warningInfo.description_info}}</p>
                </span>
              </div>
            </div>
            <div class="row">
              <label>{{projectData.translations.fullDescription}}</label>
              <div class="inputwrapper">
                <textarea name="longdesc" [(ngModel)]="firstStep[projectLang].full_description"></textarea>
              </div>
            </div>
          </div>
          <div class="fgroup">
            <div class="row">
              <label>{{projectData.translations.capital}}</label>
              <span class="infoResp"><img src="assets/info.png" alt="">
                <p class="info__text" > {{warningInfo.capital_info}}</p>
              </span>
              <div class="inputwrapper">
                <div class="innerGroup">
                  <input type="text" [(ngModel)]="firstStep.capital" name="capital">
                </div>
                <span class="info"><img src="assets/info.png" alt="">
                  <p class="info__text" > {{warningInfo.capital_info}}</p>
                </span>
              </div>
            </div>
            <div class="row">
              <label>{{projectData.translations.companyTime}}</label>
              <span class="infoResp"><img src="assets/info.png" alt="">
                <p class="info__text" > {{warningInfo.time_info}}</p>
              </span>
              <div class="inputwrapper">
                <select  name="campainTime" [(ngModel)]="firstStep.company_time">
                  <option value="{{ct.value}}" *ngFor="let ct of firstStep[projectLang].campainTimes">{{ct.label}}</option>
                </select>
                <span class="info"><img src="assets/info.png" alt="">
                   <p class="info__text" > {{warningInfo.time_info}}</p>
                </span>
              </div>
            </div>
            <div class="row checkbox">
              <label>{{projectData.translations.categories}}</label>
              <div class="inputwrapper">
                <div class="categories" *ngFor="let cat of firstStep[projectLang].categories; let i = index;">
                  <input type="radio" value="{{cat.category_id}}" id="cat{{i}}" name="categories" [(ngModel)]="firstStep.category_id"><label for="cat{{i}}">{{cat.title}}</label>
                </div>

              </div>
            </div>
          </div>
          <div class="interests">
            <label>{{projectData.translations.interests}}</label>
            <span class="infoResp infoResp_temp"><img src="assets/info.png" alt="">
              <p class="info__text info__text__last" >{{warningInfo.interests_info}}</p>
            </span>
            <div class="inputwrapper">
              <p-multiSelect [options]="firstStep[projectLang].interests" [(ngModel)]="firstStep.interest" name="firstStep.interest" [panelStyle]="{minWidth:'12em'}">
                  <ng-template let-interesi let-i="index" pTemplate="item">
                      {{i}}
                      <div style="font-size:12px;float:right;margin-top:4px; color: #798088; font-family: 'BPG Mrgvlovani'">{{interesi.label}}</div>
                  </ng-template>
              </p-multiSelect>
            </div>
          </div>

          <div>
            <button type="submit" [class]="'save'" (click)="updateFirstStep()">{{projectData.translations.save}}</button>
            <button type="submit" [class]="'nextstep'" (click)="stepIndex=1;">{{projectData.translations.nextStep}} <i class="fa fa-angle-right"></i></button>
          </div>
        </div>
        <div class="mainFoto" [style.backgroundImage]="(projectData.project.image.length > 0) ? 'url('+siteUrl + projectData.project.image+')' : ''">
          <div *ngIf="projectData.project.image.length > 0" class="delete" (click)="deleteMainPic()">
            X
          </div>
          <div *ngIf="projectData.project.image.length == 0">
            <input type="file" id="mainpic" (change)="uploadMainPic($event)"><label for="mainpic">upload</label>
          </div>
        </div>
      </form>
    </div>
    <div class="step" *ngIf="stepIndex == 1">
      <div class="files">
        <section>
          <h2>{{projectData.translations.documents}}</h2>
          <ul class="documents">
            <li *ngFor="let doc of secondStep[projectLang].uploadedDocuments">{{doc.title}}
              <div class="delete" (click)="deleteFile(doc)">x</div>
            </li>
          </ul>
          <ul class="documentsUploadforms">
            <li *ngFor="let document of secondStep[projectLang].documents; let i = index;">
              <input type="file" id="document{{i}}" (change)="documentChange($event, i)"> <label for="document{{i}}">{{projectData.translations.chooseFile}} <img src="/assets/upload-to-cloud.png" alt=""> </label>
              <input type="text" [(ngModel)]="document.text" placeholder="ფაილის დასახელება" class="inputcc" >
            </li>
          </ul>
          <button type="button" [class]="'more'" (click)="moreDoc()"><i class="fa fa-plus"></i> {{projectData.translations.moreFile}}</button>
        </section>
        <section>
          <h2>{{projectData.translations.photoes}}</h2>
          <input type="file" id="foto" (change)="step2PhotoUploadChange($event)"  multiple><label for="foto" class="labelt">
            <img src="/assets/upload-to-cloud.png" alt="">
            {{projectData.translations.upload}}
          </label>
          <ul class="fototitles">
            <li *ngFor="let photo of secondStep[projectLang].photoes">
              <div *ngIf="photo.file && photo.file.length > 0">
                <img src="{{photo.file}}" width="100">
                  <input type="text" [(ngModel)]="photo.title">
              </div>
            </li>
          </ul>
          <ul class="fotosUploadForm">
            <li *ngFor="let photo of secondStep[projectLang].uploadedPhotoes" [style.backgroundImage]="'url('+siteUrl + photo.image+')'"> <div class="delete" (click)="deletePhoto(photo)">x</div>
            </li>
          </ul>
        </section>
        <section>
          <h2 class="videoh" >{{projectData.translations.video}}</h2>
          <ul class="videos">
            <li *ngFor="let video of secondStep[projectLang].videoDetail">
              <img src="https://img.youtube.com/vi/{{video.link}}/1.jpg" alt="">
              <div class="delete" (click)="deleteVideo(video)">
                x
              </div>
            </li>
          </ul>
          <ul class="videoUploadForm">
            <li *ngFor="let video of secondStep[projectLang].videos">
              <input type="text" [(ngModel)]="video.link" placeholder="{{projectData.translations.videoLink}}">
              <input type="text" [(ngModel)]="video.title" placeholder="{{projectData.translations.VideoTitle}}">
            </li>
          </ul>
          <button type="button" [class]="'more'" (click)="moreVieo()"><i class="fa fa-plus"></i> {{projectData.translations.moreVideo}}</button>
        </section>
        <div>
          <button type="button" [class]="'prevstep'" (click)="stepIndex = stepIndex - 1"><i class="fa fa-angle-left"></i> {{projectData.translations.previousStep}}</button>
          <button type="button" [class]="'nextstep'" (click)="updateSecondStep()" >{{projectData.translations.nextStep}} <i class="fa fa-angle-right"></i></button>
        </div>
      </div>
    </div>

    <div class="step" *ngIf="stepIndex == 2">
      <div class="jildoebi">
        <ul class="jildo" *ngFor="let award of thirdStep[projectLang]; let i = index;">
          <li>
            <h3 class="jilhead" >ჯილდო {{i + 1}} <span class="delete" (click)="deleteAward(award, i)">წაშლა</span> </h3>
            <div class="row">
              <label>სათაური</label>
              <div class="inputwrapper">
                <input type="text" [(ngModel)]="award.title">
              </div>
            </div>
            <div class="row">
              <label>ჯილდოს აღწერა</label>
              <div class="inputwrapper">
                <textarea [(ngModel)]="award.description"></textarea>
              </div>
            </div>
            <div class="row">
              <label>თანხა</label>
              <div class="inputwrapper">
                <input type="text" [(ngModel)]="thirdStep.amount[i]">
              </div>
            </div>
            <div class="row">
              <label>მიწოდების თარიღი</label>
              <div class="inputwrapper">
                <div class="marr" >
                  <select [(ngModel)]="thirdStep.deliver_date[i].month">
                    <option value="">აირჩიეთ თვე</option>
                    <option value="{{m}}" *ngFor="let m of months">{{m}}</option>
                  </select>
                  <div *ngIf="thirdStep.deliver_date[i].month.length == 0" class="warni" >თვის არჩევა სავალდებულოა</div>
                </div>
                <div>
                  <select [(ngModel)]="thirdStep.deliver_date[i].year">
                    <option value="">აირჩიეთ წელი</option>
                    <option value="{{y}}" *ngFor="let y of years">{{y}}</option>
                  </select>
                  <div *ngIf="thirdStep.deliver_date[i].year.length == 0" class="warni">წლის არჩევა სავალდებულოა</div>
                </div>
              </div>
            </div>
            <div class="row row__c">
              <div class="">
                <label>
                  <input type="radio" [value]="0" name="asd{{i}}" [(ngModel)]="thirdStep.pdfs[i].file_type"> მომსახურების ნასყიდობის ხელშეკრულება<br>
                </label>
              </div>
              <div class="">
                <label>
                  <input type="radio" [value]="1" name="asd{{i}}" [(ngModel)]="thirdStep.pdfs[i].file_type"> ნასყიდობის ხელშეკრულება<br>
                </label>
                <br>
                <input type="file" (change)="jildoPdf2($event, i)">
              </div>
            </div>
          </li>
        </ul>
        <button type="button" [class]="'more'" (click)="moreAward()">მეტი ჯილდო</button>
      </div>
      <div>
        <button type="button" [class]="'prevstep'" (click)="stepIndex = 1"><i class="fa fa-angle-left"></i> წინა ნაბიჯი</button>
        <button type="button" [class]="'nextstep'" (click)="updateThirdStep()">შემდეგი ნაბიჯი <i class="fa fa-angle-right"></i></button>
      </div>
    </div>
    <div class="step" *ngIf="stepIndex == 3">
      <div class="team">
        <ul *ngFor="let member of fourthStep[projectLang]; let i = index;">
          <li>
            <h3 class="jilhead">გუნდის წევრი {{i + 1}} <span (click)="deleteMember(member, i)">წაშლა</span></h3>
            <div class="row">
              <label>სახელი, გვარი</label>
              <div class="inputwrapper">
                <input type="text" [(ngModel)]="member.name">
              </div>
            </div>
            <div class="row">
              <label>ელ.ფოსტა</label>
              <div class="inputwrapper">
                <input type="text" [(ngModel)]="member.email">
              </div>
            </div>
            <div class="row">
              <label>როლი</label>
              <div class="inputwrapper">
                <input type="text" [(ngModel)]="member.role">
              </div>
            </div>
            <div class="row">
              <label>ინფორმაცია</label>
              <div class="inputwrapper">
                <textarea [(ngModel)]="member.description"></textarea>
              </div>
            </div>
            <div class="row">
              <div *ngIf="member.image && member.image.length > 0" class="memberfoto" [style.backgroundImage]="'url('+siteUrl + member.image +')'"></div>
              <div *ngIf="member.image == null || member.image.length == 0">
                <input type="file" id="memberfoto{{i}}" (change)="memberPhotoChange($event,i)"><label for="memberfoto{{i}}">upload</label>
              </div>
            </div>
          </li>
        </ul>
        <button type="button" class="more" (click)="moreMemeber()">მეტი გუნდის წევრი</button>
        <div>
          <button type="button" [class]="'prevstep'" (click)="stepIndex = stepIndex - 1;"><i class="fa fa-angle-left"></i> წინა ნაბიჯი</button>
          <button type="button" [class]="'nextstep'" (click)="updateFourthStep()">შემდეგი ნაბიჯი <i class="fa fa-angle-right"></i></button>
        </div>
      </div>
    </div>
    <div class="step" *ngIf="stepIndex == 4">
      <div class="finances">
        <div class="l">
          <table>
            <tr>
              <td class="capitaltitle" >სასურველი კაპიტალი: </td>
              <td class="capitaltitle">{{fifthStep.targetCapital}}</td>
            </tr>
            <tr>
              <td class="capitaltitle">პროგნოზი: </td>
              <td class="capitaltitle">{{fifthStep.prognos}}</td>
            </tr>
          </table>
          <input type="text" class="capitaltitle  ang__number" placeholder="ჩაწერეთ ანგარიშის ნომერი" [(ngModel)]="fifthStep.acountNumber">
        </div>
        <div class="desc">

        </div>
        <div>
          <button type="button" [class]="'prevstep'" (click)="stepIndex = stepIndex - 1;"><i class="fa fa-angle-left"></i> წინა ნაბიჯი</button>
          <button type="button" [class]="'nextstep'" (click)="updateFifthStep()">შემდეგი ნაბიჯი <i class="fa fa-angle-right"></i></button>
        </div>
      </div>

    </div>
    <div class="step" *ngIf="stepIndex == 5 && projectData.project.payed != 1">
      <div class="pay">
        <div>
          <input type="radio" name="pay" id="onlinepayment" ><label for="onlinepayment">ონლაინ გადახდა</label>
        </div>
        <div>
          <input type="radio" name="pay" id="paybybank"><label for="paybybank">საბანკო გადარიცხვა</label>
        </div>
      </div>
    </div>
  </div>
</div>
