<div class="myprojects" *ngIf="translation && myprojects">
  <h2>{{translation.myProjects}} <span class="badge">{{myprojects.length}}</span> </h2>

  <section class="content" *ngIf="myprojects.length > 0">
      <article class="project" *ngFor="let project of myprojects">
        <header>
          <div class="mainpic" [style.backgroundImage]="'url('+siteUrl + project.project.image+')'">
            <div class="daysleft">
              {{project.project.company_time - project.interval}}
              <span>{{translation.day}}</span>
            </div>
            <button class="share">
              <i class="fa fa-share-alt"></i>
            </button>
            <a (click)="supporter(project.project.id)" class="viewDetails" >
              <img src="../assets/Subtraction1@2x.png">
            </a>
            <button  (click)="editProject(project.project.id)" class="edit">
              <i class="fas fa-pencil-alt"></i>
            </button>
          </div>
          <h3>{{project.title}}</h3>
          <p>{{project.min_description}}</p>
        </header>
        <footer>
          <h4>{{project.category_title}}</h4>
          <div class="moneyprogress">
            <span class="currentmoney">{{project.money}} ₾</span>
            <span class="targetCapital">{{project.project.capital}} ₾</span>
            <div class="bar">
              <div class="progress" [style.width]="project.money / project.project.capital * 100 + '%'"></div>
            </div>
          </div>
        </footer>
      </article>
  </section>
  <section class="content noProject" *ngIf="myprojects.length == 0">
    <span id="smile">;(</span>
    <span id="noProjectText">თქვენ არ გაქვთ პროექტები</span>
    <a routerLink="/addProject" href="#/addProject">დაამატე პროექტი</a>
  </section>
</div>
