@import '../../scss/mixins.scss';

.myprojects {
  width: 1270px;
  margin: auto;
  margin-top: 60px;
	h2 {
    display:flex;
    align-items:center;
    font-size: 17px;
    color: #424A5A;
    font-family: "BPG Mrgvlovani Caps 2010";
		.badge {
      height: 100%;
      padding: 5px 10px;
      margin-left: 40px;
      display: inline-block;
      font-size: 12px;
      color: #FFF;
      background-color: #048BA8;
      border-radius: 16px;
		}
	}

	.content {
    margin-top: 60px;
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.11);
    padding: 45px;
    display: flex;
    flex-wrap: wrap;
		@include project(1180px,4);
    .share,
    .viewDetails,
    .edit{
      width:18.41px;
      height:18.41px;
      border-radius:100%;
      outline:none;
      display:flex;
      align-items:center;
      justify-content: center;
      position:absolute;
      right: 20.6px;
      background: transparent;
      i{
        color: #A1A6A4;
        font-size: 13px;
      }
      img{
        width:100%;
        height:100%;
      }
    }
    .share{
      top: 26.8px;
      background:white;
    }
    .viewDetails{
      top:50px;
    }
    .edit{
      top: 73px;
      right: unset; 
      left: calc(100% - 18.41px - 20px);
      margin: 0!important;
      overflow: hidden;
      z-index:10;
      i{
        color: #A1A6A4;
        font-size: 13px;
      }
      input{
        opacity:0;
        position:absolute;
        width:100%;
        height:100%;
      }
    }
	}
  .noProject{
    display:flex;
    flex-direction: column;
    align-items:center;
    #smile{
      @include textStyle(50px,1,#888888, bold);
      margin-bottom:50px;
    }
    #noProjectText{
      font-size: 15px;
      color: #707070;
      font-family: "BPG Mrgvlovani";
      margin-bottom: 70px;
    }
    a{
      font-size:13px;
      font-family: "BPG Mrgvlovani";
      background-color:#048BA8;
      color:#FFFFFF;
      padding:25px;
      border-radius: 2px;
    }
  }
}
