.cont{
  width: 1270px;
  margin: auto;
  padding: 80px 0;
  display: flex;
  align-items: flex-start;
  .sidebar{
    width: 220px;
  }
  section{
    width: calc(100% - 220px);
    border-left: 1px solid #DBDBDB;
    padding-left: 50px;
    font-size: 12px;
    color: #707070;
    font-family: "BPG Mrgvlovani";
  }
}
