.about{
    .cont{
    width: 1270px;
    margin: auto;
    padding: 80px 0;
    font-family:"BPG Mrgvlovani";
    font-size:12px;
    color:#707070;
    line-height:18px;
    h1{
      font-size: 20px;
      color: #0A3E60;
      margin-bottom:10px;
      font-family: "BPG Mrgvlovani Caps 2010";
    }
    &>span{
      color: #0A3E60;
      text-decoration:underline;
    }
    &>ul{
      padding-left:30px;
      &>li{
        position:relative;
        display:flex;
        align-items:center;
        margin-bottom:5px;
        &:last-child{
          margin-bottom:0px;
        }
        &:before{
          content: " ";
          position: absolute;
          width: 7px;
          height: 7px;
          background:#0A3E60;
          left: -20px;
          border-radius:100%;
          top:5px;
        }
      }
    }
    h3{
      font-size: 17px;
      color: #0A3E60;
      margin-top:10px;
      margin-bottom:10px;
      font-family: "BPG Mrgvlovani Caps 2010";
    }
    img{
      min-width: 250px;
      max-width: 500px;
      float: right;
      margin: 0px 0px 60px 60px;
      box-shadow: 0px 9px 50px 5px rgba(128, 128, 128, 0.368);
      clear:both;
      &:nth-of-type(2n){
        margin: 60px 60px 60px 0px;
        float: left;
      }
    }
  }

  .clear{
    margin-bottom: 80px;
    clear: both;
  }
}