@media (max-width: 1480px){}

@media (max-width: 1320px){}



@media only screen and (max-width: 1610px){}

@media only screen and (max-width: 1440px){}

@media only screen and (max-width: 1366px){}

@media only screen and (max-width: 1280px){
    .about{
        .cont{
            width:90%;
        }
    }
}

@media only screen and (max-width: 1140px){
	.about{
        .cont{
            img{
                max-width:400px;
            }
        }
    }
}

@media only screen and (max-width: 960px){}

@media only screen and (max-width: 840px){
	.about{
        .cont{
            img{
                max-width:300px;
            }
        }
    }
}

@media only screen and (max-width: 720px){
    .about{
        .cont{
        display:flex;
        flex-direction:column;
            img{
                max-width:100%;
                float: unset;
                margin: 25px 0px 25px 0px;
                &:nth-of-type(2n){
    		      margin: 25px 0px 25px 0px;
    		      float: unset;
    		    }
            }
        }
    }
}
@media only screen and (max-width: 600px){}

@media only screen and (max-width: 480px){
}

@media only screen and (max-width: 400px){
}

@media only screen and (max-width: 360px){
}

@media only screen and (max-width: 320px){}
