

@media only screen and (max-width: 1610px){}

@media only screen and (max-width: 1440px){
}

@media only screen and (max-width: 1366px){}

@media only screen and (max-width: 1280px){
	.content{
		width: 90%;
		display:flex;
		justify-content:space-between;
		.event{
			width: 40%;
			margin-right: 0px;
		}
	}
}

@media only screen and (max-width: 1140px){
	.content{
		.event{
			width: 45%;
		}
	}
}

@media only screen and (max-width: 960px){}

@media only screen and (max-width: 840px){}

@media only screen and (max-width: 768px){
	.content{
		justify-content:center;
		.event{
			width: 80%;
			margin-right: 0px;
		}
	}
	.pagination{
		display: flex;
		justify-content: center;
	}
}

@media only screen and (max-width: 720px){
}

@media only screen and (max-width: 600px){
	.content{
		.event{
			width: 100%;
			footer{
				time{
					img{
						margin-right: 5px;
					}
				}
				a{
					i{
						margin-left: 5px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 480px){}

@media only screen and (max-width: 400px){}

@media only screen and (max-width: 360px){}

@media only screen and (max-width: 320px){}
