.contact{
  .cont{
    width: 1270px;
    margin: auto;
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    h2 {
      font-size: 20px;
      width: 100%;
      color: #070707;
      font-family: "BPG Mrgvlovani Caps 2010";
	span {
    color: #888888;
	}
}

form {
  width: 660px;
  margin-top: 60px;
	.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
		input {
      width:  322px;
      height: 54px;
      background-color: #FFF;
      border-radius: 4px;
      border: 1px solid #D7DCDD;
      padding: 0 15px;
      font-size: 12px;
      color: #707070;
      font-family: "BPG Mrgvlovani";
		}
	}

	textarea {
    width: 100%;
    height: 125px;
    background-color: #FFF;
    border-radius: 4px;
    border: 1px solid #D7DCDD;
    padding: 15px;
    font-size: 12px;
    color: #707070;
    font-family: "BPG Mrgvlovani";
    resize: none;
	}

	button {
    display: block;
    height: 50px;
    background-color: #14547E;
    color: #FFF;
    font-size: 13px;
    font-family: "BPG Mrgvlovani Caps 2010";
    border-radius: 4px;
    border-bottom: 2px solid #0A3E60;
    padding: 0 50px;
    margin-top: 50px;
	}
}

.info {
  width: 360px;
  margin-top: 20px;
  background-color: #FFF;
  border-radius: 14px;
  box-shadow: 0 7px 30px rgba(0,0,0,0.11);
  padding: 40px 35px;
	p {
    font-size: 12px;
    color: #707070;
    font-family: "BPG Mrgvlovani";
	}

	ul {
    margin-top: 50px;

		li {
      display: flex;
      height: 60px;
      align-items: center;
      margin-bottom: 45px;
      font-size: 13px;
      color: #070707;
      font-family: "BPG Mrgvlovani Caps 2010";
      &:last-child{
        margin-bottom: 0;
      }
			.ico {
        display: flex;
        align-items: center;
        width: 45px;
        height: 100%;
        margin-right: 25px;
          border-right: 1px solid #DBDBDB;
				img {
          min-width:16px;
          max-width:20px;
				}
			}
		}
	}
}
  }
}
