<div class="contact" *ngIf="contactContent">
  <breadcrumbs [data]="breadcrumbs"></breadcrumbs>
  <div class="cont">
    <h2>დაგვიტოვეთ <span>შეტყობინება</span></h2>
    <form>
      <div class="row">
        <input type="text" placeholder="სახელი">
        <input type="text" placeholder="ელ.ფოსტა">
      </div>
      <div class="row">
        <input type="text" placeholder="ტელეფონის ნომერი">
        <input type="text" placeholder="თემის სათაური">
      </div>
      <textarea placeholder="შეტყობინება"></textarea>

      <button type="button">გაგზავნა</button>
    </form>
    <div class="info">
      <ul>
        <li>
          <div class="ico">
            <img src="/assets/location.png" width="16" alt="">
          </div>
          {{contactContent.detail.address}}
        </li>
        <li>
          <div class="ico">
            <img src="/assets/mail.png" width="16" alt="">
          </div>
          {{contactContent.contact.email}}
        </li>
        <li>
          <div class="ico">
            <img src="/assets/phone.png" width="16" alt="">
          </div>
          {{contactContent.contact.phone}}
        </li>
        <li>
          <div class="ico">
            <img src="/assets/time.png" width="16" alt="">
          </div>
          {{contactContent.detail.time}}
        </li>
      </ul>
    </div>
    
  </div>
</div>
<!-- <agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map> -->