<svg viewbox="0 0 180 180">
  <circle cx="90" cy="90" r="80" stroke="#C4D2E7" stroke-width="5" fill="none" />
  <circle class="progress" cx="90" cy="90" r="80" [style.strokeDasharray]="(500 / 100 * percent) + ' 500'" stroke="#C0F585" stroke-width="10" fill="none" stroke-linecap="round" />
  <text class="percent" x="90" y="105" text-anchor="middle">{{percent.toFixed(2)}} <tspan class="sup" baseline-shift = "super">%</tspan></text>
</svg>
<div class="pointer" [style.transform]="'rotate(' + (360 / 100 * percent) + 'deg)'"></div>
