.faq{
  .cont{
    padding: 80px 0;
    width: 1270px;
    margin: auto;
    flex-flow: column;
    align-items: stretch;
    .ask{
      display: block;
      margin-left: auto;
      height: 50px;
      border-radius: 4px;
      background-color: #14547E;
      font-size: 13px;
      color: #FFF;
      font-family: "BPG Mrgvlovani Caps 2010";
      padding: 0 40px;
      border-bottom: 2px solid #0A3E60;
    }
    ul{
      margin-top: 40px;
      li{
        width: 100%;
        background-color: #FFF;
        border-radius: 4px;
        border: 1px solid #DFE4E5;
        margin-bottom: 10px;
        .header{
          height: 80px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 50px;
          cursor: pointer;
          font-size: 14px;
          font-family: "BPG Mrgvlovani Caps 2010";
          background: #14547E;
          color: #fff;;
          i{
            color: #CCCCCC;
          }
        }
        .body{
          padding: 45px;
          font-size: 13px;
          font-family: "BPG Mrgvlovani";
          a{
            color: #048BA8;
          }
        }
        .body p{
          margin-bottom: 30px;
        }
      }
    }
  }
}
