@import '../../scss/mixins.scss';

.myprojects {
  width: 1270px;
  margin: auto;
  margin-top: 60px;
	h2 {
    display: flex;
    align-items:center;
    font-size: 17px;
    color: #424A5A;
    font-family: "BPG Mrgvlovani Caps 2010";
		.badge {
      height: 100%;
      padding: 5px 10px;
      margin-left: 40px;
      display: inline-block;
      font-size: 12px;
      color: #FFF;
      background-color: #048BA8;
      border-radius: 16px;
		}
	}

	.content {
    margin-top: 60px;
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.11);
    padding: 45px;
    display: flex;
    flex-wrap: wrap;
		@include project(1180px,4);
	}
  .noProject{
    display:flex;
    flex-direction: column;
    align-items:center;
    #smile{
      @include textStyle(50px,1,#888888, bold);
      margin-bottom:50px;
    }
    #noProjectText{
      font-size: 15px;
      color: #707070;
      font-family: "BPG Mrgvlovani";
      margin-bottom: 70px;
    }
    a{
      font-size:13px;
      font-family: "BPG Mrgvlovani";
      background-color:#048BA8;
      color:#FFFFFF;
      padding:25px;
      border-radius: 2px;
    }
  }
}
