.wrapper{
	margin:auto;
	display:flex;
	align-items:center;
	justify-content:center;
	margin-top:50px;
	margin-bottom:50px;
	p{
		font-family: "BPG Mrgvlovani";
	    font-size: 25px;
    	line-height: 18px;
    	color:#2F3748;
	}
	i{
		font-size:40px;
		color:#d40000;
		margin-right:10px;
	}
}