<section class="projectSlider">
  <div class="categories">
    <ul>
      <li><a routerLink="/allproject">ყველა პროექტი</a></li>
      <div class="categoriesDropCont">
          <div (click)="getNewProjects()">ახალი პროექტი</div>
          <i (click)="dropDown()" class="fa">&#xf107;</i>
          <div class="DropContent">
            <div  class="respo-nav" (click)="getPopularProjects()">პოპულარული პროექტები</div>
          </div>
        </div>
      <li (click)="getNewProjects()" class="onhovereffect" >ახალი პროექტი</li>
      <li (click)="getPopularProjects()"  class="onhovereffect">პოპულარული პროექტები</li>
      <li>
        <button type="button" class="srchbtntoggle" (click)="srchbtntgl = !srchbtntgl"><i class="fa fa-search"
                                                                                          aria-hidden="true"
                                                                                          *ngIf="!srchbtntgl"></i> <i
          class="fa fa-times" *ngIf="srchbtntgl"></i></button>
        <form [class]="srchbtntgl ? 'srchform show' : 'srchform'">
          <input type="text" placeholder="ძიება ...">
          <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
      </li>
    </ul>
  </div>

  <div class="slider">
    <div class="sliderBackground"
         [style.background-image]="'url(' + siteUrl + currentProject.project.image + ')'"></div>
    <div class="wrapper">
      <article class="text">
        <h2>{{currentProject.title}}</h2>
        <div class="rgoli-responsive">
            <app-rgoli [percent]="currentProject.money / currentProject.project.capital * 100"></app-rgoli>
        </div>
        <p>{{currentProject.desc}}</p>
        <footer>
          <a routerLink="/project/{{currentProject.project.id}}" [queryParams]="{support:true}" class="daafinanse">დააფინანსე პროექტი</a>
          <span class="targetCapital">საჭირო თანხა: <span
            class="capital">{{currentProject.project.capital | number | splitnumber}} ₾</span></span>
        </footer>
      </article>
      <div class="rgoli">
        <app-rgoli [percent]="currentProject.money / currentProject.project.capital * 100"></app-rgoli>
      </div>
      <div class="progress">
        <div class="bar" [style.width]="progress +'%'"></div>
      </div>
    </div>
  </div>

  <div class="thumbs">
    <div class="thumbsouter">
      <div class="thumbsWrapper">
        <ul [style.margin-left]="slideWidth + 'px'" [style.width]="thumbsWidth + 'px'">
          <li *ngFor="let project of projects; let i = index" (click)="selectProject(project, i)"
              [class]="i == activeSlide ? 'active' : ''">
            <div class="img" [style.background-image]="'url(' + siteUrl + project.project.image + ')'"></div>
            <h3>{{project.title}}</h3>
          </li>
        </ul>
      </div>
      <div class="buttons">
        <button [class]="prevBtnShowHide" (click)="prevSlide()">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </button>
        <button [class]="nextBtnShowHide" (click)="nextSlide()">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>

</section>
