@media (max-width: 1480px){}

@media (max-width: 1320px){}



@media only screen and (max-width: 1610px){}

@media only screen and (max-width: 1440px){}

@media only screen and (max-width: 1366px){}

@media only screen and (max-width: 1280px){}

@media only screen and (max-width: 1140px){}

@media only screen and (max-width: 960px){}

@media only screen and (max-width: 840px){}

@media only screen and (max-width: 720px){
	.modal{
		.cont{
			width:90%;
			header{
				height: 50px;
				padding: 0 10px;
				font-size: 14px;
			}
			div.body{
				padding: 30px 10px;
				padding-bottom: 15px;
				form{
					input{
						margin-bottom: 15px;
					}
					button{
						margin-top:15px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 600px){}

@media only screen and (max-width: 480px){}

@media only screen and (max-width: 400px){}

@media only screen and (max-width: 360px){}

@media only screen and (max-width: 320px){}
