<div class="modal" *ngIf="!hidden" (click)="hide()">
  <div class="cont">
    <header>
      კითხვის დასმა

      <i class="fa fa-times" (click)="hide()"></i>
    </header>
    <div class="body" (click)="stoppropagation($event)">
      <form [formGroup]="askdata" (ngSubmit)="ask(askdata.value)">
        <input type="text" placeholder="თქვენი სახელი" formControlName="name">
        <input type="text" placeholder="ელ.ფოსტა" formControlName="email">
        <textarea placeholder="დაწერეთ კითხვა" formControlName="message"></textarea>
        <button type="submit">გაგზავნა</button>
      </form>
    </div>
  </div>
</div>
