@media (max-width: 1480px){}

@media (max-width: 1320px){}

@media only screen and (max-width: 1610px){}

@media only screen and (max-width: 1440px){}

@media only screen and (max-width: 1366px){}

@media only screen and (max-width: 1280px){
  .addProject{
    width:90%;
    .steps{
      .step{
        form.about{
          .info{
            .fgroup{
              .row{
                .inputwrapper{
                    width:80%;
                }
              }
            }
          }
        }
        .finances{
          .desc{
            padding-right:0px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1150px){
  .addProject{
    .steps{
      .tabs{
        flex-wrap:wrap;
        height:unset;
        .tab{
          flex:unset;
          width:33.33%;
          padding-top:20px;
          padding-bottom:20px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1140px){
  .addProject{
    .steps{ 
        .step{
          form.about{
            flex-direction: column-reverse;
            align-items: center;
            .mainFoto{ 
              margin-bottom: 50px;
              height: 100px;
              display: flex;
              align-items: center;
              justify-content: center;
              border: none;
              box-shadow: 0px 0px 15px -5px black;
              div{
                width: 90%;
                display: flex;
                justify-content: center;
              }
            }
            .info{
              padding-right:0px;
              width:75%;
            }
          }
        }
    }
  }
}
@media only screen and (max-width: 960px){

}

@media only screen and (max-width: 840px){
  .addProject{
    .steps{ 
        .step{
          display:flex;
          flex-direction:column;
          form.about{
            .info{
              width:90%;
            }
          }
          .files{
            section:nth-child(2){
              ul.fototitles{             
                display: flex;
                justify-content: space-between;
                li{
                  margin-right: 0px;
                  width:45%;
                }
              }
            }
          }
          .jildoebi{
            ul.jildo{
              li{
                .row{
                  display: flex;
                  flex-wrap: wrap;
                  label{         
                    width: 80%;
                    padding-right: 0px;
                    padding-left: 10px;
                    padding-top: 0px;
                    display:flex;
                    align-items:center;
                  }
                  .infoResp{
                    width:20%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    padding-right: 10px;
                  }
                  .inputwrapper{
                    margin-top:5px;
                    width:100%;
                  }
                }
              }
            }
          }
          .team{
            display: flex;
            flex-direction: column;
            ul{
              li{
                .row{
                  &:not(:last-of-type){
                    display:flex;
                    flex-wrap:wrap;
                    label{
                    padding: 0px;
                    width: 80%;
                    display: flex;
                    align-items: center;
                    padding-left: 10px;
                    }
                    .infoResp{
                      width: 20%;
                      display: flex;
                      align-items: center;
                      justify-content: flex-end;
                      padding-right: 10px;
                    }
                    .inputwrapper{
                      width:100%;
                      margin-top:10px;
                    }
                  }                 
                }
              }
            }
          }
          .finances{
            flex-direction:column;
            align-items:center;
            .l{
              margin-bottom:0px;
            }
            .desc{
              width:100%;
              padding-left:0px;
            }
          }
          .prevstep{
            order:3;
            width:inherit;
            align-self:flex-start;
          }
          .nextstep{
            order:2;
            width:inherit;
            margin-bottom:20px;
            align-self:flex-end;
          }
        }
    }
  }
}
@media only screen and (max-width: 768px){}

@media only screen and (max-width: 720px){
.addProject{
    .steps{
      .tabs{
        .tab{
          width:50%;
        }
      }
      .projectlangs{
        justify-content:center;
      }
      .step{
          form.about{
            .info{
              width:100%;
            }
          }
          .files{
            section:nth-child(1){
              .documentsUploadforms{
                li{
                  .document0{
                    width:200px;
                  }
                }
              }
            }
          }
        }
    }
  }
}

@media only screen and (max-width: 600px){
  .addProject{
    .steps{
      .step{
        form.about{
          .info{
            .fgroup{
              .row{
                justify-content:space-between;
                flex-wrap:wrap;
                label{
                  width:50%;
                  padding-left:10px;
                }
                .infoResp{
                  display:block;
                  width:50%;
                  padding-right:10px;
                  text-align:right;
                }
                .info{
                  display:none;
                }
                .inputwrapper{
                  width:100%;
                  padding-right:0px;
                  margin-top:10px;
                  span.smallinfo{
                    right:10px;
                  }
                  p-radiobutton{
                    margin-bottom:10px;
                  }
                }
              }
            }
            .interests{
              display:flex;
              flex-wrap:wrap;
              label{  
                width: 50%;
                padding-left: 10px;
              }
              .infoResp{
                width: 50%;
                text-align: right;
                padding-right: 10px;
              }
            }
          }
        }
        .files{
          section{
            &:nth-child(1){
              .documentsUploadforms{
                li{
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  input[type="text"]{
                    margin-left: 0px;
                    margin-top: 10px;
                    width: 240px;
                  }
                }
              }
            }
            &:nth-child(2){
              ul.fototitles{
                flex-direction:column;
                align-items:center;
                li{
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  img{
                    margin-bottom:10px;
                  }
                }
              }
            }
            &:nth-child(3){
              h2{
                margin-bottom:20px;
              }
              ul.videoUploadForm{
                li{
                  input[type="text"]{
                    width:100%;
                  }
                }
              }
            }
          }
        }
        .jildoebi{
          ul.jildo{
            li{
              .row{
                &:last-of-type{
                  .inputwrapper{
                    & > div{
                      width:49%;
                      select{
                        padding:0 7px;
                      }
                    }
                  }
                }                
              }
            }
          }
        }
        .finances{
          .l{
            width:100%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px){
  .addProject{
    .steps{
      padding-left: 10px;
      padding-right: 10px;
      .tabs{
        .tab{
          width:100%;
        }
      }
      .step{
        .finances{
          .l{
            padding:10px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 400px){
  .addProject{
    .steps{
      .step{
        form.about{
          .mainFoto{
            width:270px;
          }
        }
        .info{
          .interests{
            display:flex;
            flex-wrap:wrap;
            label{
              width:50%!important;
              padding-left:10px;
            }
            .infoResp{
              display:block;
                width:50%;
                text-align:right;
                padding-right:10px;
            }
            .inputwrapper{
                padding-left:10px;
            }
          }
        }
        .jildoebi{
          ul.jildo{
            li{
              .row{
                &:last-of-type{
                  .inputwrapper{
                    & > div{
                      width:49%;
                      select{
                        padding:0 2px;
                      }
                    }
                  }
                }                
              }
            }
          }
        }
        .team{
          ul{
            li{
              .row{
                &:last-of-type{
                  label{
                    padding-left: 10px;
                    padding-right: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 360px){}

@media only screen and (max-width: 320px){}
