<div class="addProject" *ngIf="projectData">
  <h2>{{projectData.translations.addproject}}</h2>
  <div class="steps">
    <ul class="tabs">
      <li [class]="stepIndex == i ? 'tab active' : 'tab'" *ngFor="let tab of steps; let i = index" (click)="selectStep(tab)">
        <div class="checker"></div>
        <span>{{tab.title}}</span>
      </li>
    </ul>
    <ul class="projectlangs" *ngIf="stepIndex != 4 && stepIndex != 5">
      <li [class]="projectLang=='ka' ? 'active' : ''" (click)="projectLang='ka'">ka</li>
      <li [class]="projectLang=='en' ? 'active' : ''" (click)="projectLang='en'">en</li>
      <!-- <li [class]="projectLang=='ru' ? 'active' : ''" (click)="projectLang='ru'">ru</li> -->
    </ul>
    <div class="step" *ngIf="stepIndex == 0">
      <form class="about">
        <div class="info">
          <div class="fgroup">
            <div class="row">
              <label>{{projectData.translations.title}}</label>
              <span class="infoResp"><img src="assets/info.png" alt="">
                  <p class="info__text" >
                    {{warningInfo.title_info}}
                  </p>
              </span>
              <div class="inputwrapper">
                <input type="text" [(ngModel)]="firstStep[projectLang].title" name="title">
                <span class="info"><img src="assets/info.png" alt="">
                    <p class="info__text" >
                      {{warningInfo.title_info}}
                    </p>
                </span>
                <span class="smallinfo">მაქსიმუმ 140 სიმბოლო</span>
              </div>
            </div>
            <div class="row">
              <label>{{projectData.translations.minDescription}}</label>
              <span class="infoResp"><img src="assets/info.png" alt="">
                <p class="info__text" > {{warningInfo.description_info}}</p>
              </span>
              <div class="inputwrapper">
                <input type="text" [(ngModel)]="firstStep[projectLang].smalldesc" name="smalldesc">
                <span class="info"><img src="assets/info.png" alt="">
                    <p class="info__text" > {{warningInfo.description_info}}</p>
                </span>
                <span class="smallinfo">მაქსიმუმ 250 სიმბოლო</span>
              </div>
            </div>
            <div class="row">
              <label>{{projectData.translations.fullDescription}}</label>
              <div class="inputwrapper">
                <textarea [(ngModel)]="firstStep[projectLang].longdesc" name="longdesc"></textarea>
              </div>
            </div>
          </div>
          <div class="fgroup">
            <div class="row">
              <label>{{projectData.translations.capital}}</label>
              <span class="infoResp"><img src="assets/info.png" alt="">
                <p class="info__text" > {{warningInfo.capital_info}}</p>
              </span>
              <div class="inputwrapper">
                <div class="innerGroup">
                  <input type="text" name="capital" [(ngModel)]="firstStep.capital">
                </div>
                <span class="info"><img src="assets/info.png" alt="">
                    <p class="info__text" > {{warningInfo.capital_info}}</p>
                </span>
              </div>
            </div>
            <div class="row">
              <label>{{projectData.translations.companyTime}}</label>
              <span class="infoResp"><img src="assets/info.png" alt="">
                <p class="info__text" > {{warningInfo.time_info}}</p>
              </span>
              <div class="inputwrapper">
                <select [(ngModel)]="firstStep.campainTime" name="campainTime">
                  <option value="{{ct.value}}" selected *ngFor="let ct of firstStep[projectLang].campainTimes">{{ct.label}}</option>
                </select>
                <span class="info"><img src="assets/info.png" alt="">
                    <p class="info__text" > {{warningInfo.time_info}}</p>
                </span>
              </div>
            </div>
            <div class="row checkbox">
              <label>{{projectData.translations.categories}}</label>
              <!-- <span class="infoResp"><img src="assets/info.png" alt="">
                <p class="info__text" > {{warningInfo.interests_info}}</p>
              </span> -->
              <div class="inputwrapper">
                <!-- <p-checkbox name="groupname" name="category" value="{{c.value}}" [(ngModel)]="firstStep[projectLang].category" label="{{c.label}}" *ngFor="let c of firstStep[projectLang].categoriebi" ></p-checkbox> -->
                <p-radioButton name="groupname" value="{{c.value}}" label="{{c.label}}" [(ngModel)]="firstStep.category" *ngFor="let c of firstStep[projectLang].categoriebi"></p-radioButton>
              </div>
            </div>
          </div>
          <div class="interests">
            <label>{{projectData.translations.interests}}</label>
            <span class="infoResp"><img src="assets/info.png" alt="">
              <p class="info__text info__text__last" >{{warningInfo.interests_info}}</p>
            </span>
            <div class="inputwrapper">
              <p-multiSelect [options]="firstStep[projectLang].interests" [(ngModel)]="firstStep.interest" name="firstStep.interest" [panelStyle]="{minWidth:'12em'}">
                  <ng-template let-interesi let-i="index" pTemplate="item">
                      {{i}}
                      <div style="font-size:12px;float:right;margin-top:4px; color: #798088; font-family: 'BPG Mrgvlovani'">{{interesi.label}}</div>
                  </ng-template>
              </p-multiSelect>
            </div>
          </div>
          <button type="submit" [class]="'save'" (click)="addMainInfo()">{{projectData.translations.save}}</button>
          <button type="submit" [class]="'nextstep'" (click)="addMainInfo();">{{projectData.translations.nextStep}} <i class="fa fa-angle-right"></i></button>
        </div>
        <div class="mainFoto" [style.backgroundImage]="'url('+firstStep.projectMainPic+')'">
          <div *ngIf="firstStep.projectMainPic == ''">
            <p-fileUpload mode="basic" name="mainPic" customUpload="true" accept="image/*" auto="auto" (uploadHandler)="uploadMainPic($event)" maxFileSize="1000000" chooseLabel="{{projectData.translations.main_photo}}" styleClass="uploadMainPic"></p-fileUpload>
          </div>
        </div>
      </form>
    </div>
    <div class="step" *ngIf="stepIndex == 1">
      <div class="files">
        <section>
          <h2>{{projectData.translations.documents}}</h2>
          <ul class="documents">
            <li *ngFor="let file of secondStep[projectLang].uploadedDocuments; let i = index">{{file.text}}</li>
          </ul>
          <ul class="documentsUploadforms">
            <li *ngFor="let file of secondStep[projectLang].documents; let i = index">
              <input type="file"  id="document{{i}}" [disabled]="file.uploaded" (change)="documentChange($event ,i);"> <label for="document{{i}}">{{projectData.translations.chooseFile}} <img src="/assets/upload-to-cloud.png" alt=""> </label>
              <input type="text" [disabled]="file.uploaded" placeholder="ფაილის დასახელება" [(ngModel)]="file.text">
            </li>
          </ul>
          <button type="button" [class]="'more'" (click)="addNewDocumentForm()"><i class="fa fa-plus"></i> {{projectData.translations.moreFile}}</button>
        </section>
        <section>
          <h2>{{projectData.translations.photoes}}</h2>
          <input type="file" id="foto{{i}}" (change)="step2PhotoUploadChange($event ,i)" multiple><label for="foto{{i}}">
            <img src="/assets/upload-to-cloud.png" alt="">
            {{projectData.translations.upload}}
          </label>
          <ul class="fototitles">
            <li *ngFor="let foto of secondStep[projectLang].fotos; let i = index">
              <img src="{{foto.file}}" width="100">
              <input type="text" [(ngModel)]="secondStep[projectLang].fotos[i].title">
            </li>
          </ul>
          <ul class="fotosUploadForm">
            <li *ngFor="let foto of secondStep.fotos; let i = index" [style.backgroundImage]="'url('+foto.file+')'">
            </li>
          </ul>
        </section>
        <section>
          <h2>{{projectData.translations.video}}</h2>
          <ul class="videos">
            <li></li>
          </ul>
          <ul class="videoUploadForm">
            <li *ngFor="let video of secondStep[projectLang].videos; let i = index">
              <input type="text" placeholder="{{projectData.translations.videoLink}}" [(ngModel)]="video.link">
              <input type="text" placeholder="{{projectData.translations.VideoTitle}}" [(ngModel)]="video.name">
            </li>
          </ul>
          <button type="button" [class]="'more'" (click)="addVideos()"><i class="fa fa-plus"></i> {{projectData.translations.moreVideo}}</button>
        </section>
        <br>
        <div class="">
          <button type="button" [class]="'prevstep'" (click)="stepIndex = stepIndex - 1"><i class="fa fa-angle-left"></i> {{projectData.translations.previousStep}}</button>
          <button type="button" [class]="'nextstep'" (click)="addDocuments()">{{projectData.translations.nextStep}} <i class="fa fa-angle-right"></i></button>
        </div>
      </div>
    </div>
    <div class="step" *ngIf="stepIndex == 2">
      <div class="jildoebi">
        <ul class="jildo">
          <li *ngFor="let jildo of jildoebi[projectLang]; let i = index">
            <h3>ჯილდო {{i + 1}}</h3>
            <div class="row">
              <label>სათაური</label>
              <span class="infoResp"><img src="assets/info.png" alt=""> </span>
              <div class="inputwrapper">
                <input type="text" [(ngModel)]="jildo.title">
              </div>
            </div>
            <div class="row">
              <label>ჯილდოს აღწერა</label>
              <span class="infoResp"><img src="assets/info.png" alt=""> </span>
              <div class="inputwrapper">
                <textarea [(ngModel)]="jildo.desc"></textarea>
              </div>
            </div>
            <div class="row">
              <label>თანხა</label>
              <span class="infoResp"><img src="assets/info.png" alt=""> </span>
              <div class="inputwrapper">
                <input type="text" [(ngModel)]="jildoebi.money[i]">
              </div>
            </div>
            <div class="row">
              <label>მიწოდების თარიღი</label>
              <span class="infoResp"><img src="assets/info.png" alt=""> </span>
              <div class="inputwrapper">
                <div>
                  <select [(ngModel)]="jildoebi.date[i].month">
                    <option value="">აირჩიეთ თვე</option>
                    <option value="{{m}}" *ngFor="let m of months">{{m}}</option>
                  </select>
                  <div *ngIf="jildoebi.date[i].month.length == 0">
                    თვის არჩევა სავალდებულოა
                    <svg aria-hidden="true" data-prefix="fas" data-icon="star-of-life" class="svg-inline--fa fa-star-of-life fa-w-15" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 512"><path fill="currentColor" d="M471.99 334.43L336.06 256l135.93-78.43c7.66-4.42 10.28-14.2 5.86-21.86l-32.02-55.43c-4.42-7.65-14.21-10.28-21.87-5.86l-135.93 78.43V16c0-8.84-7.17-16-16.01-16h-64.04c-8.84 0-16.01 7.16-16.01 16v156.86L56.04 94.43c-7.66-4.42-17.45-1.79-21.87 5.86L2.15 155.71c-4.42 7.65-1.8 17.44 5.86 21.86L143.94 256 8.01 334.43c-7.66 4.42-10.28 14.21-5.86 21.86l32.02 55.43c4.42 7.65 14.21 10.27 21.87 5.86l135.93-78.43V496c0 8.84 7.17 16 16.01 16h64.04c8.84 0 16.01-7.16 16.01-16V339.14l135.93 78.43c7.66 4.42 17.45 1.8 21.87-5.86l32.02-55.43c4.42-7.65 1.8-17.43-5.86-21.85z"></path></svg>
                  </div>
                </div>
                <div>
                  <select [(ngModel)]="jildoebi.date[i].year">
                    <option value="">აირჩიეთ წელი</option>
                    <option value="{{y}}" *ngFor="let y of years">{{y}}</option>
                  </select>
                  <div *ngIf="jildoebi.date[i].year.length == 0">
                    წლის არჩევა სავალდებულოა
                    <svg aria-hidden="true" data-prefix="fas" data-icon="star-of-life" class="svg-inline--fa fa-star-of-life fa-w-15" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 512"><path fill="currentColor" d="M471.99 334.43L336.06 256l135.93-78.43c7.66-4.42 10.28-14.2 5.86-21.86l-32.02-55.43c-4.42-7.65-14.21-10.28-21.87-5.86l-135.93 78.43V16c0-8.84-7.17-16-16.01-16h-64.04c-8.84 0-16.01 7.16-16.01 16v156.86L56.04 94.43c-7.66-4.42-17.45-1.79-21.87 5.86L2.15 155.71c-4.42 7.65-1.8 17.44 5.86 21.86L143.94 256 8.01 334.43c-7.66 4.42-10.28 14.21-5.86 21.86l32.02 55.43c4.42 7.65 14.21 10.27 21.87 5.86l135.93-78.43V496c0 8.84 7.17 16 16.01 16h64.04c8.84 0 16.01-7.16 16.01-16V339.14l135.93 78.43c7.66 4.42 17.45 1.8 21.87-5.86l32.02-55.43c4.42-7.65 1.8-17.43-5.86-21.85z"></path></svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <label class="container">
                  ნივთის ნასყიდობის ხელშეკრულება
                  <input type="radio"  data-check="1" class="sts" [value]="0" name="asd{{i}}"  [(ngModel)]="jildoebi.pdfs[i].file_type">
                  <span class="checkmark"></span>
              </label>
              <label class="container">
                  მომსახურების ნასყიდობის ხელშეკრულება
                  <input type="radio" data-check="2" class="sts" [value]="1" name="asd{{i}}" [(ngModel)]="jildoebi.pdfs[i].file_type">
                  <span class="checkmark"></span>
              </label>



              <input type="file" id="document1" (change)="jildoPdf($event, i)">

              <label _ngcontent-c2="" class="document1" for="document1">
                აირჩიეთ ფაილი
                 <img _ngcontent-c2="" alt="" src="/assets/upload-to-cloud.png">

              </label>

            </div>
          </li>

        </ul>
        <button type="button" [class]="'more'" (click)="moreAward()">მეტი ჯილდო</button>
      </div>

      <br>
      <div>
        <button type="button" [class]="'prevstep'" (click)="stepIndex = stepIndex - 1"><i class="fa fa-angle-left"></i> წინა ნაბიჯი</button>
        <button type="button" [class]="'nextstep'" (click)="addAwards();">შემდეგი ნაბიჯი <i class="fa fa-angle-right"></i></button>
      </div>
    </div>
    <div class="step" *ngIf="stepIndex == 3">
      <div class="team">
        <ul>
          <li *ngFor="let member of team[projectLang]; let i = index;">
            <h3>გუნდის წევრი {{i}}</h3>
            <div class="row">
              <label>სახელი, გვარი</label>
              <span class="infoResp"><img src="assets/info.png" alt=""> </span>
              <div class="inputwrapper">
                <input type="text" [(ngModel)]="member.fullname">
              </div>
            </div>
            <div class="row">
              <label>ელ.ფოსტა</label>
              <span class="infoResp"><img src="assets/info.png" alt=""> </span>
              <div class="inputwrapper">
                <input type="text" [(ngModel)]="member.email">
              </div>
            </div>
            <div class="row">
              <label>როლი</label>
              <span class="infoResp"><img src="assets/info.png" alt=""> </span>
              <div class="inputwrapper">
                <input type="text" [(ngModel)]="member.role">
              </div>
            </div>
            <div class="row">
              <label>ინფორმაცია</label>
              <span class="infoResp"><img src="assets/info.png" alt=""> </span>
              <div class="inputwrapper">
                <textarea [(ngModel)]="member.information"></textarea>
              </div>
            </div>
            <div class="row">
              <label>ფოტო</label>
              <div class="inputwrapper">
                <input type="file" id="memberfoto{{i}}" (change)="uploadMemberPhoto($event ,i);"><label for="memberfoto{{i}}"> <img src="/assets/upload-to-cloud.png" alt="">აირჩიეთ ფოტო</label>

              </div>
            </div>
          </li>
          <button type="button" class="more" (click)="moreMember()">მეტი გუნდის წევრი</button>
        </ul>
        <div>
          <button type="button" [class]="'prevstep'" (click)="stepIndex = stepIndex - 1;"><i class="fa fa-angle-left"></i> წინა ნაბიჯი</button>
          <button type="button" [class]="'nextstep'" (click)="addMember()">შემდეგი ნაბიჯი <i class="fa fa-angle-right"></i></button>
        </div>
      </div>
    </div>
    <div class="step" *ngIf="stepIndex == 4">
      <div class="finances">
        <div class="l">
          <table>
            <tr>
              <td>სასურველი კაპიტალი:</td>
              <td>{{finansebi.targetCapital}}</td>
            </tr>
            <tr>
              <td>პროგნოზი</td>
              <td>{{finansebi.prognos}}</td>
            </tr>
            <tr>
              <td>თანხა</td>
              <td>{{finansebi.amount}}</td>
            </tr>
          </table>
          <input type="text" placeholder="ჩაწერეთ ანგარიშის ნომერი" [(ngModel)]="finansebi.acountNumber">
        </div>
        <div class="desc">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div>
          <button type="button" [class]="'prevstep'" (click)="stepIndex = stepIndex - 1;"><i class="fa fa-angle-left"></i> წინა ნაბიჯი</button>
          <button type="button" [class]="'nextstep'" (click)="addFinances()">შემდეგი ნაბიჯი <i class="fa fa-angle-right"></i></button>
        </div>
      </div>

    </div>
    <div class="step" *ngIf="stepIndex == 5">
      <div class="pay">
        <div class="checkPay">
          <div>
            <input type="radio" name="pay" id="onlinepayment" (click)="changePayMethod('online')" ><label for="onlinepayment">ონლაინ გადახდა</label>
          </div>
          <!-- <div class="payInfoResp">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div> -->

          <div>
            <input type="radio" name="pay" id="paybybank" (click)="changePayMethod('bank')"><label for="paybybank">საბანკო გადარიცხვა</label>
          </div>
        </div>
        <div class="payInfo">
          ტესტ
        </div>
        <form #transForm name="returnform" action="https://ecommerce.ufc.ge/ecomm2/ClientHandler" method="POST">
  <input type="hidden" name="trans_id" value="{{transid}}">
</form>

        <br>
        <div>
          <button type="button" [class]="'prevstep'" (click)="stepIndex = stepIndex - 1;"><i class="fa fa-angle-left"></i> წინა ნაბიჯი</button>
          <button type="button" [class]="'nextstep'" (click)="sendPaymentReq()" style="" > დასრულება <i class="fa fa-angle-right"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
