@import '../../scss/mixins.scss';
.projectInner {
  padding-bottom: 60px;
	.pagination {
    width: 100%;
    height: 80px;
    background-color: #FFF;
    border-top: 1px solid #DFE4E5;
		.wrapper {
      width: 1270px;
      margin: auto;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
			h2 {

			}

			ul {

				li {

					a {

					}
				}
			}
		}
	}

	.content {
    width: 1270px;
    background-color: #FFF;
    margin: auto;
    padding: 40px;
    margin-top: 65px;
    border-radius: 4px;
    box-shadow: 0 5px 12px rgba(0,0,0,0.11);
    display: flex;
    flex-wrap: wrap;

    .resp{
      display:none!important;
    }

		.basicinfo {
      padding-left: 25px;
      padding-top: 15px;
      width: calc(100% - 520px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
			header {

				.categorie {
          height: 40px;
          border-radius: 5px;
          background-color: #798088;
          color: #FFFFFF;
          font-size: 12px;
          font-family: "BPG Mrgvlovani";
          display: inline-block;
          line-height: 40px;
          padding: 0 15px;
				}

				h2 {
          font-size: 21px;
          color: #2F3748;
          font-family: "BPG Mrgvlovani Caps 2010";
          margin-top: 25px;
				}

				.author {
          margin-top: 20px;
          font-size: 12px;
          color: #888888;
          font-family: "BPG Mrgvlovani";
					span {
            color: #070707;
					}
				}
			}

			footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
				.moneyprogress {
          font-family: "BPG Mrgvlovani";
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
					.currentmoney {
            font-size: 15px;
            color: #070707;

					}

					.targetCapital {
            font-size: 12px;
            color: #888888;
					}

					.bar {
            margin-top: 13px;
            width: 100%;
            height: 13px;
            background-color: #DFE3E9;
            border-radius: 27px;
            overflow: hidden;
						.progress {
              height: 100%;
              border-radius: 27px;
              background-color: #0A3E60;
						}
					}
				}

				.support {
          width: 100%;
          margin-top: 50px;
          margin-bottom: 50px;
          text-align: right;
          font-size: 13px;
          color: #707070;
          font-family: "BPG Mrgvlovani";
					button {
            margin-left: 40px;
            vertical-align: middle;
            height: 60px;
            background-color: #14547E;
            color: #FFF;
            border-radius: 5px;
            border-bottom: 1px solid #0A3E60;
            font-size: 13px;
            font-family: "BPG Mrgvlovani Caps 2010";
            padding: 0 50px;
					}
				}
        .Soc{
          display: flex;
          align-items:center;
          width: 25%;
          .fbLike{
            margin-right: 20%;
            a{
              display:flex;
              align-items:center;
              justify-content:center;
              width:55px;
              height:55px;
              background-color:#DFE3E9;
              border-radius: 50%;
              i{
                font-family: FontAwesome;
                color: #14547E;
              }
            }
          }
          .share{
            a{
              display:flex;
              align-items:center;
              justify-content:center;
              width:55px;
              height:55px;
              background-color:#DFE3E9;
              border-radius: 50%;
              i{
                font-family: FontAwesome;
                color: #14547E;
              }
            }
            
          }
        }
				.copyLink {
          width: 60%;
          display: flex;
          justify-content: space-between;
          background-color: #DFE3E9;
          border-radius:25px;
          height:40px;
          margin-top:7.5px;
          .copyBtn{
            font-family: FontAwesome;
            background-color: #798088;
            font-size: 12px;
            color: white;
            margin-right: 10px;
            margin-top: 5px;
            margin-bottom: 5px;
            display: flex;
            align-items: center;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 15px;
            cursor: pointer;
          }
          input{
            background-color: transparent;
            width: 70%;
            margin-left:5%;
          }
				}
			}
		}

		.infotabs {
      margin-top: 75px;
      width: 100%;
			.tabs {
        border-bottom: 1px solid #D9D9D9;
        display: flex;
				li {
          cursor: pointer;
          margin: 0 50px;
          height: 40px;
          line-height: 40px;
          font-size: 16px;
          color: #888888;
          font-family: "BPG Mrgvlovani Caps 2010";
          &:first-child{
            margin-left: 0;
          }
          &:last-child{
            margin-right: 0;
          }
          &.active{
            color: #070707;
            &::after{
              content: '';
              width: 80px;
              height: 3px;
              background-color: #14547E;
              border-radius: 3px;
              display: block;
              margin: auto;
              margin-top: -1.5px;
            }
          }
				}
			}

			.tab {
        padding-top: 70px;
				.about {

					h2 {
            font-size: 17px;
            color: #505050;
            font-family: "BPG Mrgvlovani Caps 2010";
					}

					.text {
            margin-top: 45px;
            font-size: 12px;
            color: #707070;
            font-family: "BPG Mrgvlovani";
					}
				}
        .files {

        	h2 {
            font-size: 13px;
            color: #070707;
            font-family: 'BPG Mrgvlovani Caps 2010';
            margin-bottom: 30px;
        	}

        	.documents {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 25px;
        		li {
              height: 50px;
              border-radius: 30px;
              border: 1px solid #D9D9D9;
              padding: 0 25px;
              margin-right: 25px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              img{
                border-left: 1px solid #D9D9D9;
                padding-left: 20px;
                margin-left: 60px;
              }
        		}
        	}

        	.media {
            margin-top: 40px;
            display: flex;
            flex-wrap: wrap;
        		li {
              width: 70px;
              height: 70px;
              @include marginCounter(1270px,70px,15);
              cursor: pointer;
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
              margin-bottom:15px;
        		}
        	}
        }
        .team{
          ul{
            display: flex;
            flex-wrap: wrap;
            li{
              width: 215px;
              border: 1px solid #D9D9D9;
              border-radius: 9px;
              padding: 10px;
              font-family: "BPG Mrgvlovani Caps 2010";
              text-align: center;
              @include marginCounter(1190px,215px,5);
              margin-bottom:25px;
              .img{
                width: 100%;
                height: 200px;
                border-radius: 9px;
                background-position: center;
                background-size: cover;
              }
              h3{
                font-size: 13px;
                color: #070707;
                margin-top: 40px;
              }
              h5{
                font-size: 12px;
                color: #888888;
                margin-top: 15px;
              }
            }
          }
        }
        .awards{
          ul{
            li{
              position: relative;
              display: flex;
              justify-content: space-between;
              border-bottom: 1px solid #EAEAEA;
              margin-bottom: 40px;
              padding-bottom: 40px;
              &:last-child{
                border-bottom: 0;
              }
              &::before{
                content: '';
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #070707;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
              }
              .desc{
                width: 780px;
                padding-left: 35px;
                h2{
                  width: 380px;
                  font-size: 15px;
                  color: #070707;
                  font-family: "BPG Mrgvlovani Caps 2010";
                }
                .text{
                  margin-top: 25px;
                  font-size: 12px;
                  color: #707070;
                  font-family: "BPG Mrgvlovani";
                }
              }
              .info{
                margin-top: 20px;
                width: 270px;
                border: 1px solid #D9D9D9;
                border-radius: 5px;
                padding: 30px;
                padding-bottom: 10px;
                .amount{
                  font-size: 17px;
                  color: #070707;
                  font-family: "BPG Mrgvlovani Caps 2010";
                  border-bottom: 1px solid #D9D9D9;
                  padding-bottom: 20px;
                }
                .time{
                  font-size: 11px;
                  color: #888888;
                  font-family: "BPG Mrgvlovani";
                  margin-top: 20px;
                  span{
                    margin-top: 10px;
                    display: block;
                    color: #070707;
                    font-size: 13px;
                  }
                }
                button{
                  width: 100%;
                  height: 60px;
                  color: #FFF;
                  background-color: #14547E;
                  border-radius: 5px;
                  font-size: 12px;
                  font-family: "BPG Mrgvlovani Caps 2010";
                  margin-top: 20px;
                  cursor: pointer;
                }
              }
            }
          }
        }
			}
		}
	}
}
