@media (max-width: 1480px){}

@media (max-width: 1320px){}



@media only screen and (max-width: 1610px){}

@media only screen and (max-width: 1440px){}

@media only screen and (max-width: 1366px){}

@media only screen and (max-width: 1280px){
}

@media only screen and (max-width: 1140px){}

@media only screen and (max-width: 960px){}

@media only screen and (max-width: 840px){}

@media only screen and (max-width: 720px){
    ul{
        padding-right: 0px;
        display: flex;
        justify-content: space-between;
        text-align:center;
    }
}
@media only screen and (max-width: 600px){}

@media only screen and (max-width: 480px){
}

@media only screen and (max-width: 400px){
    ul{
       flex-direction:column;
    }
}

@media only screen and (max-width: 360px){
}

@media only screen and (max-width: 320px){}
