<div class="translations && projects">
  <breadcrumbs [data]="breadcrumbs"></breadcrumbs>
  <div class="allproject">
    <div class="sort">
      დახარისხება:
      <select [(ngModel)]="filters['sort']" (change)="navigate()">
        <option value="publish_date-desc">თარიღით კლებით</option>
        <option value="publish_date-asc">თარიღით ზრდადობით</option>
        <!-- <option value="raiting-desc">პოპულარობით კლებით</option>
        <option value="raiting-asc">პოპულარობით ზრდადობით</option> -->
      </select>
    </div>
    <div class="cont">
      <div class="filter">
        <h2>კატეგორიები</h2>
        <ul class="categories">
          <li [class]="(filters['category'] == null) ? 'active' : ''" (click)="selectCategory('')">
            ყველა
            <span class="badge">{{totalCount}}</span>
          </li>
          <li *ngFor="let c of categories" [class]="(filters.category == c.id) ? 'active' : ''" (click)="selectCategory(c)">{{c.title}} <span class="badge">{{c.count}}</span> </li>
        </ul>
        <h2>ინტერესები</h2>
        <ul class="intetests">
          <li *ngFor="let interest of interests" [class]="interest.selected ? 'active' : ''" (click)="selectInterests(interest);">{{interest.title}}</li>
        </ul>
      </div>
      <div (click)="changeFilterClass()" class="filterBtn-container closed">
        <button  id="filterBtn">
          ფილტრი
        </button>
      </div>
      <div class="projects">
        <article class="project"  *ngFor="let project of projects | paginate: { itemsPerPage: 6, currentPage: p, totalItems: totalPages }">
          <header>
            <div class="mainpic" [style.backgroundImage]="'url('+siteUrl + project.project.image+')'" (click)="getInnerProject(project.project.id,$event)">
              <div class="daysleft">
                {{project.project.company_time - project.interval > 0 ? project.project.company_time - project.interval : 'დასრულებული' }}
                <span *ngIf="translations && project.project.company_time - project.interval > 0">{{translations.day}}</span>
              </div>
              <img src="/assets/{{(project.check_for_fav != undefined && project.check_for_fav) ? 'heart-red.png' : 'heart-black.png'}}" *ngIf="project.check_for_fav != undefined" alt="add to favorite" class="favorite" (click)="toggleFavorite(project)">
            </div>
            <h3><a routerLink="/project/{{project.project.id}}">{{project.title}}</a></h3>
            <p>{{project.min_description}}</p>
          </header>
          <footer>
            <h4>{{project.category_title}}</h4>
            <div class="moneyprogress">
              <span class="currentmoney">{{project.money.toFixed(2)}} ₾</span>
              <span class="targetCapital">{{project.project.capital}} ₾</span>
              <div class="bar">
                <div class="progress" [style.width]="project.money / project.project.capital * 100 + '%'"></div>
              </div>
            </div>
          </footer>
        </article>
        <!--<ul class="pagination" *ngIf="paginate.length > 1">-->
          <!--<li class="prev" (click)="prevPage()"><i class="fa fa-angle-left"></i></li>-->
          <!--<li *ngFor="let p of paginate" [class]="this.filters.page == p ? 'active' : ''" (click)="getPage(p)">{{p}}</li>-->
          <!--<li class="next" (click)="nextPage()"><i class="fa fa-angle-right"></i></li>-->
        <!--</ul>-->
      </div>
    </div>
    <div class="cont">
      <div class="filter">
      </div>
      <div class="projects projects__two">
        <pagination-controls (pageChange)="pageChanged($event)" previousLabel="" nextLabel=""></pagination-controls>
        <!-- <ul>
          <li *ngFor="let page of projects; let i = index">{{i + 1}}</li>
        </ul> -->
      </div>
    </div>
  </div>
</div>
