.pagination {
  width: 100%;
  height: 80px;
  background-color: #FFF;
  border-top: 1px solid #DFE4E5;
  box-shadow: 0 12px 22px rgba(0,0,0,0.06);
	.wrapper {
    width: 1270px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
		h2 {
      font-size: 17px;
      color: #0A3E60;
      font-family: "BPG Mrgvlovani Caps 2010";

		}
		ul {
      display: flex;

			li {
        font-size: 13px;
        margin: 0 15px;
        color: #898989;
        font-family: "BPG Mrgvlovani";
        &:last-child{
          margin-right: 0;
          color: #0A3E60;
        }
			}
		}
	}
}