@media (max-width: 1480px){}

@media (max-width: 1320px){}



@media only screen and (max-width: 1610px){}

@media only screen and (max-width: 1440px){}

@media only screen and (max-width: 1366px){}

@media only screen and (max-width: 1280px){
    .cont{
        width:90%;
    }
}

@media only screen and (max-width: 1140px){}

@media only screen and (max-width: 960px){}

@media only screen and (max-width: 840px){}

@media only screen and (max-width: 720px){
    .cont{
        flex-direction:column;
        .sidebar{
            width:100%;
        }
        section{
            width: 100%;
            border-top: 1px solid #DBDBDB;
            border-left: 0px;
            padding-left: 0px;
            padding-top: 50px;
        }
    }
}
@media only screen and (max-width: 600px){}

@media only screen and (max-width: 480px){
}

@media only screen and (max-width: 400px){
}

@media only screen and (max-width: 360px){
}

@media only screen and (max-width: 320px){}
