
.profile{
  width: 1270px;
  margin: auto;
  margin-top: 65px;
  & > h2{
    font-size: 17px;
    color: #424A5A;
    font-family: "BPG Mrgvlovani Caps 2010";
  }
  .forma{
    margin-top: 45px;
    background-color: #FFF;
    box-shadow: 0 5px 12px rgba(0,0,0,0.11);
    border-radius: 4px;
    padding: 80px 50px;
    display: flex;
    align-items: flex-start;
    .l{
      width: 290px;
      border: 1px solid #F4F7F8;
      padding-top: 30px;
      border-radius: 4px;
      .profilepic{
        width: 100px;
        height: 100px;
        background-color: #D7DCDD;
        border-radius: 50%;
        border: 3px solid #FFF;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16);
        margin: auto;
      }
      .info{
        display: block;
        text-align: center;
        margin-top: 35px;
        font-size: 11px;
        color: #707070;
        font-family: "BPG Mrgvlovani";
      }
      .socprofiles{
        margin-top: 35px;
        border-top: 1px solid #F4F7F8;
        padding: 30px 20px;
        h3{
          font-size: 13px;
          color: #888888;
          font-family: "BPG Mrgvlovani Caps 2010";
        }
        ul{
          margin-top: 15px;
          li{
            margin: 10px 0;
            font-size: 13px;
            color: #888888;
            font-family: "BPG Mrgvlovani Caps 2010";
            i{
              font-size: 16px;
              margin-right: 15px;
            }
          }
        }
      }
    }
    .r{
      width: calc(100% - 290px);
      padding-left: 60px;
      padding-top: 20px;
      form{
        h2{
          width: 100%;
          font-size: 14px;
          color: #888888;
          font-family: "BPG Mrgvlovani Caps 2010";
          span{
            color: #070707;
          }
        }
        label{
          font-size: 11px;
          color: #888888;
          display: block;
          margin-bottom: 10px;
          font-family: "BPG Mrgvlovani Caps 2010";
          width: 100%;
        }
        button[type=submit]{
          height: 50px;
          background-color: #74BA43;
          border-radius: 4px;
          color: #FFF;
          font-size: 12px;
          font-family: "BPG Mrgvlovani Caps 2010";
          padding: 0 25px;
          max-width: 377px; 
          &.disabled{
            opacity: 0.5;
          }
        }
        .fgroup{
          display: flex;
          flex-wrap: wrap;
          padding: 15px 0;
          .item{
            width: 375px;
            margin: 15px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &:nth-child(odd){
              width: 400px;
              padding-right: 25px;
            }
            input{
              width: 100%;
              height: 54px;
              background-color: #F8FCFD;
              border: 1px solid #D7DCDD;
              padding: 0 20px;
              border-radius: 4px;
              font-size: 12px;
              color: #707070;
              font-family: "BPG Mrgvlovani";
              &::placeholder{
                color: #707070;
              }
              &.tell{
                width: calc(100% - 125px);
                border-left: none;
                border-radius: 0 4px 4px 0;
              }
            }
          }
        }
        &.changepass{
          margin-top: 60px;
          .fgroup{
            display: block;
          }
        }
      }
    }
  }
}
.validmes{
  color: red;
  font-size: 11px;
  font-family: "BPG Mrgvlovani Caps 2010";
  margin-bottom: 5px;
  display: inline-block;
}
