
/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  *::before, *::after {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
html,body{
  width: 100%;
  height: 100%;
}
input[type=reset], input[type=submit], input[type=button], button {
  cursor: pointer;
  border-radius: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: 100%; }

a {
  color: inherit;
  font-family: inherit; }

body{
  background-color: #F8FCFD;
}


@font-face {
    font-family: 'BPG WEB 001 Caps';
    src: url('./fonts/BPGWEB001Caps.woff2') format('woff2'),
        url('./fonts/BPGWEB001Caps.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BPG WEB 001';
    src: url('./fonts/BPGWEB001.woff2') format('woff2'),
        url('./fonts/BPGWEB001.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BPG Mrgvlovani Caps 2010';
    src: url('./fonts/BPGMrgvlovaniCaps2010.woff2') format('woff2'),
        url('./fonts/BPGMrgvlovaniCaps2010.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BPG Mrgvlovani';
    src: url('./fonts/BPGMrgvlovani.woff2') format('woff2'),
        url('./fonts/BPGMrgvlovani.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BPG Mrgvlovani 2010';
    src: url('./fonts/BPGMrgvlovani2010.woff2') format('woff2'),
        url('./fonts/BPGMrgvlovani2010.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.profile  .ui-dropdown{
    width: 120px!important;
    box-shadow: none!important;
  }
.profile .ui-dropdown .ui-dropdown-label{
  height: 52px;
  background-color: #F8FCFD;
}
.profile .ui-state-default{
  border: 1px solid #D7DCDD;
}
.profile .ui-dropdown-trigger{
  background-color: transparent!important;
  border-left: none!important;
}

.profile .prefix{
  width: 125px!important;
  border-radius: 4px 0 0 4px;
}

.profile .ui-dropdown label.ui-dropdown-label{
  line-height: 50px;
  font-size: 12px;
  color: #707070;
  font-family: "BPG Mrgvlovani";
  padding: 0 20px;
}
.profile .ui-dropdown .ui-dropdown-trigger .fa::before{
  content: "\f107";
}

.profile .ui-dropdown .ui-dropdown-trigger .fa{
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: 0px!important;
  margin-right: 0px!important;
  transform: translateY(-50%);
}

.profile .ui-fileupload-choose{
  display: inline-flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  height: 42px;
  background-color: #798088!important;
  border-radius: 4px;
  border: none!important;
  font-size: 11px;
  color: #FFF!important;
  font-family: "BPG Mrgvlovani";
  margin-top: 25px;
  cursor: pointer;
  padding: 0 25px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.profile .ui-fileupload-choose .ui-button-icon-left{
  margin-left: 20px;
  margin-top: initial!important;
}
.profile .ui-fileupload-choose .ui-button-icon-left::before{
  content: "\F0EE";
}
.profile .ui-fileupload-choose .ui-button-text{
  line-height: 42px!important;
  padding: 0!important;
}

.profile .ui-fileupload-choose .ui-button-icon-left{
  position: static!important;
}

.addProject .steps .ui-fileupload-choose, .addProject .steps .ui-fileupload-choose:hover{
  background: transparent;
  font-size: 13px;
  color: #888F97;
  border: none;
  height: auto;
  overflow: visible;
  font-family: "BPG Mrgvlovani";
}
.addProject .steps .ui-fileupload-choose .ui-button-icon-left{
  display: block;
  position: static;
  font-size: 40px;
  color: #2F3748;
  margin-bottom: 35px;
}
@media only screen and (max-width: 1140px){
  .addProject .steps .ui-fileupload-choose, .addProject .steps .ui-fileupload-choose:hover{
    display: flex;
  }
  .addProject .steps .ui-fileupload-choose .ui-button-icon-left{
    margin-bottom: 0px;
    margin-top: 0px;
  }
}
.addProject .steps .ui-fileupload-choose .ui-button-icon-left::before{
  content: '';
  width: 54px;
  height: 54px;
  display: block;
  background-image: url('/assets/upload-to-cloud.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin: auto;
}

.addProject .steps .info .innerGroup .ui-dropdown{
  position: absolute;
  top: 0;
  right: 1px;
  width: 70px;
  height: 100%;
  padding: 10px 0;
  border: 0;
  background-color: transparent;
}

.addProject .steps .info .innerGroup .ui-dropdown.ui-state-focus{
  box-shadow: initial;
}

.addProject .steps .info .innerGroup .ui-dropdown .ui-dropdown-label{
  height: 100%;
  line-height: 35px;
  border-left: 1px solid #DFE3E9;
  border-radius: 0;
  text-align: center;
  font-size: 17px;
  color: #798088;
}
.addProject .steps .info .innerGroup .ui-dropdown .ui-dropdown-trigger{
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}

.addProject .steps .info .innerGroup .ui-dropdown .ui-dropdown-trigger .fa-caret-down::before{
  content: '\f107';
}

.addProject .steps .info p-dropdown[name="campainTime"]{
  width: 100%;

}
.addProject .steps .info .ui-dropdown.campainTime{
  width: 100%!important;
  height: 60px;
}
.addProject .steps .info .ui-dropdown.campainTime .ui-dropdown-trigger{
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  padding-right: 20px;
}
.addProject .steps .info .ui-dropdown.campainTime .ui-dropdown-trigger .fa-caret-down::before{
  content: '\f107';
}
.addProject .steps .info .ui-dropdown.campainTime.ui-state-focus{
  box-shadow: initial;
}
.addProject .steps .info .ui-dropdown.campainTime .ui-dropdown-label{
  height: 100%;
  line-height: 60px;
  font-size: 12px;
  color: #798088;
  font-family: "BPG Mrgvlovani";
  padding: 0 30px;
}

.addProject .steps .info .checkbox .inputwrapper label{
  font-size: 12px;
  color: #798088;
  font-family: "BPG Mrgvlovani";
}

.addProject .steps .info .checkbox p-checkbox{
  margin-bottom: 20px;
}

.addProject .steps .info .ui-chkbox-box .ui-chkbox-icon::before{
  content: '';
  display: none;
}
.addProject .steps .info .ui-chkbox-box .ui-chkbox-icon{
  width: 100%;
  height: 100%;
  border: 2px solid #D3D3D3;
  border-radius: 3px;
}
.addProject .steps .info .ui-chkbox-box .ui-chkbox-icon.fa-check{
  border: 5px solid #74BA43;
}
.addProject .steps .info .ui-chkbox-box{
  background: transparent;
  border: none;
  margin-right: 20px;
}

.addProject .steps .info .interests .ui-chips{
  margin-top: 40px;
}
.addProject .steps .info .interests .ui-chips ul.ui-inputtext{
  border: none;
}
.addProject .steps .info .interests .ui-chips ul.ui-inputtext.ui-state-focus{
  box-shadow: initial;
}
.addProject .steps .info .interests .ui-chips .ui-chips-input-token{
  display: block;
}
.addProject .steps .info .interests .ui-chips .ui-chips-token{
  height: 50px;
  padding: 0 15px;
  border: 1px solid #DFE3E9;
  border-radius: 4px;
  background: transparent;
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  color: #2F3748;
  font-family: "BPG Mrgvlovani Caps 2010";
  margin-right: 10px;
  margin-bottom: 30px;
}
.addProject .steps .info .interests .ui-chips .ui-chips-input-token input{
  width: 100%;
  height: 60px;
  border: 1px solid #DFE3E9;
  border-radius: 4px;
  padding: 0 30px;
  font-size: 12px;
  color: #798088;
  font-family: "BPG Mrgvlovani";
}

.ngx-pagination{
  display: flex;
  flex-wrap: wrap;
  font-family: "BPG Mrgvlovani";
}

.ngx-pagination li{
  position: relative;
  width: 44px!important;
  height: 44px!important;
  display: inline-flex!important;
  justify-content: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px!important;
  margin: 0 10px;
}
.ngx-pagination li a:hover{
  background-color: transparent!important;
}

.ngx-pagination li.current{
  -webkit-border-radius: 4px!important;
  -moz-border-radius: 4px!important;
  border-radius: 4px!important;
  background-color: #0A3E60;
  border: 1px solid #D0D0D0;
}

.pagination-previous, .pagination-next{
  background-color: #FFF!important;
  border: 1px solid #D0D0D0;
  -webkit-border-radius: 4px!important;
  -moz-border-radius: 4px!important;
  border-radius: 4px!important;
  border-right: 1px solid #D0D0D0!important
}

.pagination-previous{
  margin-right: 15px!important;
}
.ngx-pagination .pagination-next a::after, .ngx-pagination .pagination-next.disabled::after{
  display: none!important;
  margin: 0!important;
  font-family: "fontawesome"!important;
}
.ngx-pagination .pagination-previous a::before{
  display: none!important;
  margin: 0!important;
  font-family: "fontawesome"!important;
}

.pagination-next::before{
  content: ''!important;
  font-family: "fontawesome"!important;
}

.pagination-previous::before{
  content: ''!important;
  font-family: "fontawesome"!important;
  margin: 0!important;
}

.pagination-previous a, .pagination-next a{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-next{
  margin-left: 15px!important;
}

/*.ui-radiobutton-box{
  border-radius: 0px!important;
  border: 3px solid #D3D3D3!important;
}*/
.ui-radiobutton-box{
  border-radius: 0px!important;
}
.ui-radiobutton-box{
  color: white!important;
}
.ui-chkbox-box.ui-state-active, .ui-radiobutton-box.ui-state-active{
  border-radius: 3px!important;
  background: #74BA43!important;
  border: 0px!important;
}
.fa-circle:before{
      content: "\f0c8"!important;
}


.ngx-modal{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: #00000085; 
}
.ngx-modal .modal-dialog{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ngx-modal .modal-dialog .modal-content{
  width: 600px;
  height: 300px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.ngx-modal .modal-dialog .modal-content .modal-header{

}
.ngx-modal .modal-dialog .modal-content .modal-footer{
    position: absolute;
    top: -35px;
    right: 0px;
}
.ngx-modal .modal-dialog .modal-content .modal-footer button{
  display: none;
}
.ngx-modal .modal-dialog .modal-content .modal-footer button:first-child{
    display: block;
    background: transparent;
    color: white;
    text-shadow: 0 0 5px #e8e4e4;
    font-size: 25px;
    padding-right: 5px;
}

app-invest-project-popup{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
app-charity{
  display: flex;
  flex-direction: column;
  align-items: center;
}
app-root{
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

@media only screen and (max-width: 600px){
  .ngx-modal .modal-dialog .modal-content{
    width: 97%;
    height: 380px;
  }
}

@media only screen and (max-width: 480px){
}

@media only screen and (max-width: 400px){
}

@media only screen and (max-width: 360px){
}

@media only screen and (max-width: 320px){}
