@mixin textStyle($fsize,$lineHeight,$fcolor, $weight){
  font-size: $fsize;
  line-height: $lineHeight;
  color: $fcolor;
  font-weight: $weight;
}

@mixin marginCounter($wrapperWidth, $itemWidth, $count) {
  margin-right: ($wrapperWidth / $count) - $itemWidth;
  &:nth-child(#{$count}n + #{$count}){
    margin-right: 0;
  }
}


@mixin project($wrapperWidth, $count){
  .project {
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include marginCounter($wrapperWidth,290px,$count);
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 30px;
    overflow: hidden;
    .mainpic {
      height: 185px;
      border-radius: 4px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
      .daysleft {
        position: absolute;
        padding: 10px 15px;
        top: 15px;
        left: 15px;
        font-size: 13px;
        color: #FFC800;
        font-family: "BPG WEB 001 Caps";
        text-align: center;
        border-radius: 4px;
        background-color: rgba(0,0,0,0.33);
        span{
          font-size: 9px;
          color: #FFF;
          font-family: 'BPG WEB 001';
          display: block;
          margin-top: 10px;
        }
      }
      .favorite{
        position: absolute;
        top: 27px;
        right: 15px;
        cursor: pointer;
        max-width:23px;
        min-width:23px;
      }
    }

    h3 {
      font-size: 13px;
      color: #2F3748;
      font-family: 'BPG Mrgvlovani Caps 2010';
      margin-top: 30px;
    }

    p {
      font-size: 12px;
      color: #626262;
      font-family: "BPG Mrgvlovani";
      margin-top: 20px;
    }

    footer {
      border-top: 1px solid #D0D0D0;
      margin-top: 20px;
      padding-top: 25px;
      padding-bottom: 15px;
      h4 {
        font-size: 11px;
        color: #424A5A;
        font-family: 'BPG Mrgvlovani Caps 2010';
      }

      .moneyprogress {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .currentmoney {
          font-size: 13px;
          color: #2F3748;
          font-family: "BPG Mrgvlovani";
        }

        .targetCapital {
          font-size: 11px;
          color: #95989A;
          font-family: "BPG Mrgvlovani";
        }

        .bar {
          margin-top: 10px;
          width: 100%;
          height: 7px;
          width: 100%;
          background-color: #DFE4E5;
          border-radius: 7px;
          overflow: hidden;
          .progress {
            height: 100%;
            background-color: #0A3E60;
            border-radius: 7px;
          }
        }
      }
    }
  }
}
